/* // import { makeStyles } from '@emotion/styled';
// import { red , blue} from '@emotion/styled/colors';

export const paperStyle = {
    margin: `${theme.spacing(0)}px auto`,
    padding: theme.spacing(2, 1),
    borderRadius: '0',
    '&:hover': {
        backgroundColor: theme.palette.action.hover,
        cursor: 'pointer'
    }
}, */

.paperStyle {
    padding:  15px 20px;
    border-radius: 0 !important;
}
.paperStyle:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.itemsHeader {
    padding: 10px 5px;
    display: 'flex';
    border-radius: 0 !important;
    /* background-color: rgba(0, 0, 0, 0.04) !important; */
    border-bottom: none
}

.appCardContainer {
    position: relative;
    border-radius: 10;
    text-decoration: none;
    width: 210px;
    display: flex;
    height: 100px;
}

.appCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px
}

.appCardContent svg {
    font-size: 26px;
}

.appDescription {
    font-size: 13px !important;
    font-weight: 600 !important;
    text-align: center;
    letter-spacing: 0.2;
    line-height: 15 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: black;
}

.appCardBadge {
    position: absolute;
    top: 0;
    left: 25;
    z-index: 10;
    background-color: #00ba9d30;
    color: #00ba9d
}
